<% provide :page_header, 'Help-New Department' %>

<body>
  <h4>New Department Form </h4>
    <ol>
      <li>Type in a 'Department Name.'</li>
      <li>Click on 'Create Deparment' and wait for success message.</li>
   </ol>
   <%= image_tag 'New_Department.png', length: 500, height: 150 %>
</body>
