<% provide :page_header, 'Help-New Item Type' %>

<body>
  <h4>New Item Type Help Form </h4>
    <ol>
      <li>Give the Item Type a 'Name'.</li>
      <li>Write in a 'Base Fee' for the Item Type.</li>
      <li>Write in a 'Fee Per Day' for the Item Type.</li>
      <li>Click the 'Submit' button and wait for success message.</li>
    </ol>
  <%= image_tag 'New_Item_Type.png', length: 1000, height: 300 %>
</body>
