<% provide :page_header, 'Help-New Item' %>

<body>
  <h4>New Item Form </h4>
    <ol>
      <li>Give the new item a name.</li>
      <li>Select an item type from the dropdown menu.</li>
      <li>Click 'Submit' and wait for success message.</li>
   </ol>
   <%= image_tag 'New_Item.png', length: 500, height: 150 %>
</body>
