<% provide :page_header, 'Help-New User' %>

<body>
  <h4>New User Form </h4>
    <ol>
      <li>Write the first name of the user.</li>
      <li>Write the last name of the user.</li>
      <li>Write in the user's Spide ID.</li>
      <li>Select the user's department from the dropdown, or create a new one if it is not there..</li>
      <li>Write in the users phone number.</li>
      <li>Write in the users email address.</li>
      <li>Click on 'Create User' and wait for success message.</li>
   </ol>
   <%= image_tag 'New_User.png', length: 1000, height: 300 %>
</body>
