<% provide :page_header, 'Help-New Group' %>

<body>
  <h4>New Group Form </h4>
    <ol>
      <li>Type in a name for the group.</li>
      <li>Write a description for the group.</li>
      <li>Select the permissions from the dropdown that will be given to this group.</li>
      <li>Select the Users from the dropdown to be added to this group.</li>
   </ol>
   <%= image_tag 'New_Group.png', length: 1000, height: 300 %>
</body>
