<% provide :page_header, 'Help-New Incidental Type' %>

<body>
  <h4>New Incidental Type Form </h4>
    <ol>
      <li>Give the new incidental type a name.</li>
      <li>Give a short desciption of this type.</li>
      <li>Give the incidental type a base fee(ex. 25.00).</li>
      <li>Check the box if the type has been damage tracked.</li>
      <li>Click 'Create Incidental Type' and wait for success message.</li>
   </ol>
   <%= image_tag 'New_Incidental_Type.png', length: 1000, height: 300 %>
</body>
