<% provide :page_header, 'Help-New Hold' %>

<body>
  <h4>New Hold Form </h4>
    <ol>
      <li>Chose a cart from the dropdown menu.</li>
      <li>Write in a reason for holding the cart.</li>
      <li>Select a start time for the hold from the datepicker.</li>
      <li>Select the end time for the hold from the datepicker.</li>
      <li>Click on 'Create Hold' and wait for success message.</li>
   </ol>
   <%= image_tag 'New_Hold.png', length: 1000, height: 300 %>
</body>
