<% provide :page_header, 'Help-Schedule Rental' %>

 <body>
   <h4>Schedule Rental Form </h4>
     <ol>
       <li>Chose a Renter from dropdown menu.</li>
       <li>Select Pickup and Dropoff dates from datepicker.</li>
       <li>Select the amount of 4 seat and 6 seat carts to be rented.</li>
       <li>Click 'Create Rental' button, and wait for success message.</li>
    </ol>
     <%= image_tag 'Rental_Reservation.png', length: 1000, height: 300 %>
 </body>
