<% provide :page_header, 'Help' %>

<body>
  <h4>Schedule Rental Form </h4>
    <ol>
      <li>Chose a Renter from dropdown menu.</li>
      <li>Select Pickup and Dropoff dates</li>
      <li>Select the amount of 4 seat and 6 seat carts to be rented.</li>
    </ol>

    <%= image_tag 'RentalReservation.png', length: 600, height: 100 %>

  <h4>New Item Type</h4>
    <ol>
      <li>Write in a name for the item type.</li>
      <li>Write in a base fee in decimal format.</li>
      <li>Write in a fee per day in decimal format. </li>
    </ol>

    <%= image_tag 'ItemType.png', length: 600, height: 100 %>

</body>
