<% provide :page_header, 'Help' %>

<body>
  <h4>Schedule Rental Form </h4>
    <ol>
      <li>Chose a Renter from dropdown menu.</li>
      <li>Select Pickup and Dropoff dates</li>
      <li>Select the amount of 4 seat and 6 seat carts to be rented.</li>
      <li>Click 'Create Rental' button.</li>
    </ol>

    <%= image_tag 'RentalReservation.png', length: 1000, height: 300 %>
</body>
