<table class="table table-striped table-bordered table-hover">
  <thead>
    <th>Item</th>
    <th>Item Type</th>
    <th>Reservation ID</th>
  </thead>
  <tbody>
    <% rentals_items.each do |ri| %>
      <tr>
        <td><%= ri.item.name %></td>
        <td><%= ri.item_type.name %></td>
        <td><%= ri.reservation_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
