<% provide( :page_header, 'Signatures' ) %>

<table class="table table-bordered table-hover">
  <tr>
      <th>Intent</th>
      <th>Rental</th>
      <th>Time</th>
    <th class="min-width">Actions</th>
  </tr>
  <% @digital_signatures.each do |digital_signature| %>
    <tr>
      <td><%= digital_signature.intent %></td>
      <td><%= digital_signature.rental %></td>
      <td><%= digital_signature.updated_at.strftime('%a %m/%d/%Y %k:%M %p') %></td>
      <td class="min-width">
        <%= link_to (content_tag(:span, nil, class: "glyphicon glyphicon-eye-open")+" View"), digital_signature, class: "btn btn-xs btn-success" %>
      </td>
    </tr>
  <% end %>
</table>
