<%= form_for(@department) do |f| %>
  <div class="form-group col-xs-12">
    <label class="col-xs-2 control-label" for="name">Name</label>
    <div class="col-xs-6">
      <%= text_field :department, :name, placeholder: "Department",
                                  class:"form-control", required: true %>
    </div>
  </div>

  <div class="form-group col-xs-12">
    <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-primary", data: { confirm: "Are you sure?" } %>
      <%= link_to "Back", :back, class: "btn btn-default" %>
    </div>
  </div>
<% end %>
