<% provide( :page_header, @department.name ) %>

<h5>
  <%= link_to 'Edit Department', edit_department_path(@department), class: "btn btn-primary" %>
  <%= link_back 'Back', departments_path, class: "btn btn-default" %>
</h5>

<h3>Users</h3>
<%= render partial: 'users/tabs', locals: { users: @department.users.all } %>
