<<<<<<< 83802fc12fd99d488e1b90388fc1ae952cf858f3
<% provide( :page_header, 'New Incurred Incidental' ) %>
<%= render 'form' %>

<%= link_to 'Back', rental_incurred_incidentals_path %>
=======
<h1>Create incidental</h1>

<%= render 'form' %>
>>>>>>> started work on incurred incidentals. created controller with basic actions, views, and routes. added seeds for incidentals. added relation between rentals and incidentals
