<h4>Upcoming Rentals</h4>
<%= render partial: 'rental_table', locals: { rentals: rentals.select { |r| r.end_date >= Time.zone.today } } %>

<h4>Past Rentals</h4>
<%= render partial: 'rental_table', locals: { rentals: rentals.select { |r| r.end_date < Time.zone.today } } %>
