<% provide( :page_header, "Welcome to UMass Parking Services Rental Purchasing Program AKA RPP" ) %>

<h4><%= link_to 'New Rental', new_rental_path, class: "btn btn-primary" %> <%= link_to 'View All Rentals', rentals_path, class: "btn btn-primary" %></h4>

<% if @rentals %>
  <%= render partial: 'rentals', locals: { rentals: @rentals } %>
<% end %>
