<% provide( :page_header, @rental.dates ) %>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Status</label>
  <div class="form-control-information col-xs-10">TBD</div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Item Type</label>
  <div class="form-control-information col-xs-10"><%= @rental.item_type.name %></div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Amount Charged</label>
  <div class="form-control-information col-xs-10">$</div>
</div>

<div class="form-group col-xs-12">
  <label class="col-xs-2 control-label">Amount Due</label>
  <div class="form-control-information col-xs-10">$</div>
</div>

<div class="form-group col-xs-12">
  <div class="col-xs-offset-2 col-xs-10">
    <%#= link_to 'Edit Rental', edit_rental_path(@rental), class: "btn btn-primary" %>
    <% if @current_user.has_permission?(:rentals, :index) %>
      <%= link_to 'Back', rentals_path, class: "btn btn-default" %>
    <% else %>
      <%= link_to 'Back', root_url, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
