img.document-picture {
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 450px;
}

img.large-picture {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.documents {
  max-height: 10;
  overflow-y: scroll;
}
