# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8f85b60688ca164debb7960ac838f074dbb54def7299ee7f2363afe5da783d5595b741dd2c2c17d1ee5f3bc6de18dc540240fc8064525ba1c157ce604143c8db

test:
  secret_key_base: ce60ba18c3631123069bd459b0b2e755effdf5be8017786760cc063046b3bbf318515ed5fa1204aab7a98be14c3a6b9ef03aaa9c03658648fe6818de7d1e9281

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
