<% provide(:page_header, "Inventory Error") %>

<h3> The following error occurred processing the request: </h3>

<p> <%= error_class %> </p>
<ul>
  <li> <%= error_message %> </li>
</ul>
<br />

<p> A message has been sent to IT </p>
