<h1>Editing Financial Transaction</h1>

<%= render 'form', financial_transaction: @financial_transaction %>

<%= link_to 'Show', @financial_transaction %> |
<%= link_to 'Back', financial_transactions_path %>
