/*UMass header*/
.page-header{
  /*re-enable this and find colors that work */
  background-color: #881c1c;
  /*background-color: #881B90;*/
  padding: 1em 0;
  margin: 0;
  border: none;
}
/*end UMass*/

.panel-primary {
  border: 0;
  border-top: 1px solid #337ab7;
}

.footer{
  color: #111;
  padding-top: 15px;
  background-color: #a2a2a4;
}

.footer a {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.navbar.main,
.navbar-collapse > .nav.main > .dropdown > .dropdown-menu{
  border-width: 0px;
  border-radius: 0px;
  background-color: #b2b2b3;
  margin: 0;
}
.navbar.main,
.navbar-collapse > .nav.main > .dropdown > .dropdown-menu > li > a:hover{
  background-color: #a2a2a4;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-collapse > .nav.main > .dropdown > .dropdown-menu > li > a{
  color: #111;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-collapse > .nav.main > .open > a{
  color: initial;
  background-color: #b2b2b3;
}

.navbar-collapse > .nav.main > .dropdown > .dropdown-menu{
  border: none;
}

ul.main.nav{
  margin:0px;
}

.main-content{
  margin-bottom: 15px;
}

.form-information{
  margin-bottom: 0px;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
#loading-text {
  font-weight: bold;
  margin-top: 190px;
}

#notice {
  color: green;
}

#warning {
  color: yellow;
}

hr{
  height: 1px;
  background-color: #ddd;
}

.flash-icon{
  padding-right: 10px;
}

.alert{
  margin-top: 10px;
}

.disabled{
  background: rgb(250, 255, 140);
}

.header-no-margin, .pagination{
  margin: 0px;
}

.tab-content-border {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  overflow: auto;
  margin-bottom: 20px;
}
.required:before{
  font-weight: bold;
  font-size: large;
  content:"*";
  color: #e32;
  position: absolute;
  margin: 2px 0px 0px -20px;
  padding: 0 5px 0 0;
}

form.with-required:after{
  font-weight: bold;
  content:"* = required fields";
  color: #e32;
}
