.legal-blurb {
  margin-bottom: 15px;
}
@media print {
  /*#payment {page-break-inside: avoid;}*/
  /*#incidental {page-break-inside: avoid;page-break-after: avoid;}*/
  .form-group { margin-bottom: 0px;}
}
