/*
 * Rentals#rental_schedule specific style
 */

.simple-calendar h1 {
  color: #002E5C
}

table, th, td {
  border: 1px solid #ddd;
}

.simple-calendar table th {
  background-color: #002E5C;
  color: #FFFFFF;
  font-size: 12px;
}

.simple-calendar table td {
  height: 100px !important;
}

/*
 * Custom Simple Calendar Style
 */

.simple-calendar .day {
  color: #002E5C;
}

.simple-calendar .next-month {
  background-color: #C9C9C9 !important;
}

.simple-calendar .past {
  background-color: #C9C9C9 !important;
}

.simple-calendar .prev-month {
  background-color: #C9C9C9 !important;
}

.simple-calendar .today {
  background-color: #FFFFD4 !important;
}
/*
 * The Pagination between Months
 */

.simple-calendar .calendar-heading {
  color: #002E5C;
  padding-bottom: 15px;
}

.simple-calendar .calendar-heading a:hover{
  text-decoration: none;
}

.simple-calendar .calendar-title {
  font-size: 30px
}

/*
 * Reservation Buttons
 */

.reservation-control {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.reservation-control .reserve-4 {
  margin-bottom: 8px;
}

.reservation-control .reserve-6 {

}
